body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image: url('./images/sw-bg.jpg');
  background-size: cover;
}

h1 {
  font-size: 42px;
  color: var(--text-primary);
  margin: 0px;
  margin-bottom: 30px;
}

.accordion-simple > .active {
  display: block;
}

.accordion-content .inactive{
  display: none;
}

.accordion-content > div{
  background-color: red;
  margin-bottom: 20px;
  padding: 0px 15px;
  border-radius: 5px;
  cursor: pointer;
}



.accordion-title{
  color: var(--text-secondary);
  padding-bottom: 20px;
  font-weight: 500;
}

.accordion-contentHeading{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.accordion-contentHeading .active{
  color: var(--text-primary);
}

.accordion-contentHeading h3{
  color: var(--text-secondary);
  font-weight: 600;
}

.accordion-content p {
  margin: 0px;
  padding-bottom: 30px;
  color: var(--text-secondary);
  line-height: 1.4;
}